.fileUpload {
    margin: 1rem;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}